<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>arxiv.org</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>XAI_API_KEY</key>
	<string>xai-clLoc0cfsYS3grmytXTSCIYZ8a0nKBZEktTEKl2LQHfSeroF4PbmhTQDBttgnzXgtoweACIQeWL5WPBs</string>
</dict>
</plist>
